<div class="contenedor">
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div class="contenedorcarrusel">
    <!-- INICIO CARRUSEL -->
    <app-carrusel [imagenes]="imagenes" [autoSlide]="true" [controles]="false"></app-carrusel>
    <!-- FIN CARRUSEL -->
  </div>
  <div class="contenedorturnos" style="margin-top: -25px;">
    <app-card-lista></app-card-lista>
  </div>
</div>
<div class="reloj">
  <p>{{now|date:'EEEE'}}, {{now|date:'d'}} de {{now|date:'MMMM'}} del {{now|date:'YYYY'}} &nbsp; {{now|date:'hh:mm:ss'}}
  </p>
</div>