.paneldoctor{
    background-color: rgb(240, 240, 240);
    padding: 5px;
    color: rgb(43, 43, 43);
    font-weight: bold;
    text-transform: uppercase;
}

.cabeceradoctor{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 15px;
}

.filapaciente{
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
}

@keyframes fadein {
    0%{
       transform: translateX(30%);
    }    
    100%{
        transform: translateX(0%);
    }
}