.contenedordoctores{
    width: 100%;
    height: max-content;
    margin: 0 auto;
    padding-top: 18px;
}

.contenedordoctores .tarjetadoctor{
    margin-top: 3px;
    background-color: rgb(250, 250, 250);
    padding: 10px 10px 0px 13px;
    width: 100%;
}

.paneldoctor{
    background-color: rgb(240, 240, 240);
    padding: 5px;
    color: rgb(43, 43, 43);
    font-weight: bold;
    text-transform: uppercase;
}

.cabeceradoctor{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 15px;
}

.tarjetadoctor .filapaciente{
    padding: 3px;
    display: block;
    justify-content: space-between;
    width: 100%;
    height: max-content;
}

@keyframes fadein {
    0%{
       transform: translateX(30%);
    }    
    100%{
        transform: translateX(0%);
    }
}