<tr *ngFor="let persona of listaPersonas;">
    <td>{{persona.nombres}}</td>
    <td>{{persona.apellidos}}</td>
    <td>{{persona.cedula}}</td>
    <td>
        <i (click)="editarPersona(persona)" class="fa-solid fa-pen-to-square text-info boton"></i>
    </td>
    <td>
        <i (click)="eliminarPersona(persona.id)" class="fa-solid fa-trash text-danger boton"></i>
    </td>
</tr>

plantilla doctores originales
<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
    <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
      <div class="ml-4 mt-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-12 w-12 rounded-full"
              src="assets/imagenes/doctor.jpg?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
              alt="">
          </div>
          <div class="ml-4">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Dr. Vicente Zambrano Briones</h3>
            <p class="text-sm text-gray-500">
              <a href="#">Medicina General</a>
            </p>
          </div>
        </div>
      </div>
      <div class="ml-4 mt-4 flex flex-shrink-0">
  
      </div>
    </div>
  </div>
  