.carusel-container{
 position: relative;
 margin:auto;
 text-align: center;
 width: 1080px;
}

.carusel-container img{
    left: -3px;
    width: 100%;
    display: none;
}

.carusel-container img.image-active{
    display: block;
    width: 100%;
    height: 100%;
}

.carusel-dot-container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s;
    opacity: 0.5;
}


.active,
.dot:hover{
    opacity: 1;
}

.fade{
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade{
    from{
        opacity: 0.5;
        transform: translateX(60%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.btn-carrusel{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: rgb(247, 247, 247);
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;

}

.btn-prev{
    left: 0;
}

.btn-next{
    right: 0;
}